<!DOCTYPE html>
<html>
<head>
	<title>Breakfast Recipes</title>
</head>
<body>

	<div class="container">

  <!-- columns should be the immediate child of a .row -->
	  <div class="row">
	    <div class="four columns" style="font-size: 20px">Broccoli Cheddar and Spinash Frittata </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2017/02/broccoli-cheddar-frittata.jpg">
		     <p> This spinach, broccoli and cheddar frittata recipe is a simple breakfast, brunch or dinner! It's vegetarian and gluten free.</p>
			 <p> Ingredients </p>
		     <p> Instructions </p>
	    

	    <div class="four columns" style="font-size: 20px">Tex-Mex Breakfast Bowl  </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2016/06/breakfast-bowl-with-eggs-black-beans-pico.jpg">
		    <p> Hearty breakfast bowls featuring your favorite Tex-Mex flavors, including fresh pico de gallo, black beans and avocado.</p>
		    <p> Ingredients </p>
		    <p> Instructions </p>
	   

	    <div class="four columns" style="font-size: 20px">Triple Coconut Granola </div>
	    <img class ="resize" src="http://laurencariscooks.com/1_lcc/wp-content/uploads/2017/02/Cacao-Crunch-Granola-1-2-600x600.jpg">
		    <p>This easy homemade coconut granola recipe features coconut flakes, shredded coconut and coconut oil! It's naturally sweetened with maple syrup.</p>
		    <p> Ingredients </p>
		    <p> Instructions </p>
	    
	  </div>
	</div>

</body>
</html>