<!DOCTYPE html>
<html>
<head>
	<title>Dinner Recipes</title>
</head>
<body>

	<div class="container">

  <!-- columns should be the immediate child of a .row -->
	  <div class="row">
	    <div class="four columns" style="font-size:20px">Creamy Peach and Honey Popsicles </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2015/08/peach-popsicles-5.jpg">
	   		 
	   		 <p> Honey-sweetened peach popsicles made with yogurt and roasted peaches! These cold, creamy treats are perfect for summertime. They're healthy, too.</p>
			 <p> Ingredients </p>
		     <p> Instructions </p>
	    

	    <div class="four columns" style="font-size: 20px">Salted Oat Fudge </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2014/12/healthy-fudge-recipe.jpg"><br>
		     
		     <p> This delicious fudge recipe is healthier than most and lighter, too, thanks to oat flour! It tastes like a cross between fudge and no-bake cookies.</p>
			 <p> Ingredients </p>
			 <p> Instructions </p>	
	    

	    <div class="four columns" style="font-size: 20px">Chocolate Peppermint Cups </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2017/02/honey-sweetened-chocolate-peppermint-cups-3.jpg">
		    
		    <p> Delicious honey-sweetened chocolate peppermint cups! These dark chocolate treats are fun and easy to make..</p>
		    <p> Ingredients </p>
		    <p> Instructions </p>
	    
	  </div>
	</div>

</body>
</html>