<!DOCTYPE html>
<html>
<head>
	<title>Dinner Recipes</title>
</head>
<body>

	<div class="container">

  <!-- columns should be the immediate child of a .row -->
	  <div class="row">
	    <div class="four columns" style="font-size:20px">Sweet Potato and Black Bean Tacos  </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2017/02/sweet-potato-black-bean-tostadas-recipe.jpg">
	   		 
	   		 <p> This vegetarian tostadas recipe features roasted sweet potatoes and healthy "refried" black beans, served on a bed of crisp salad. It's gluten free and easily vegan.</p>
			 <p> Ingredients </p>
		     <p> Instructions </p>
	    

	    <div class="four columns" style="font-size: 20px">Zucchini Noodles with Basil Pumpkin Seed Pesto </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2016/06/zoodles-with-pesto-and-tomatoes.jpg"><br>
		     
		     <p> Fresh, raw zucchini noodles tossed with basil pesto and cherry tomatoes make a light, healthy meal.</p>
			 <p> Ingredients </p>
			 <p> Instructions </p>	
	    

	    <div class="four columns" style="font-size: 20px">Simple Kale Salad </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2016/05/anything-goes-kale-salad-recipe-2.jpg">
		    
		    <p> This super versatile kale salad features an amazing tahini dressing.</p>
		    <p> Ingredients </p>
		    <p> Instructions </p>
	    
	  </div>
	</div>

</body>
</html>