<!DOCTYPE html>
<html>
<style>
  
  body {
        background-image: url(" http://cdn.jamieoliver.com/recipe-database/xtra_med/3lOh74sT4j_BU_klbzh_v6.jpg");
        
      } 

    .topnav{
      background: background:rgba(255,255,255,.5);
    }

</style>
<head>
	<title></title>
 
</head>
<body>

    <div class="container">
    	<div class="row">
      		<div class="twelve column" >The Green Kitchen</div>
            <p>Vegetarian recipes at your fingertips, easy and quick!</p>
            <div class="topnav" id="myTopnav">
              <a href="/recipes/breakfast">Breakfast</a>
              <a href="/recipes/dinner">Dinner</a>
              <a href="/recipes/sides">Sides</a>
              <a href="/recipes/dessert">Desserts</a>
               <a id="logout" href="/home/logout">LogOut</a>
            </div>
      </div>
    </div>

  
</body>
<footer>
  <div class="logo">Created by Katelyn Fenchel || General Assembly WDI </div>
</footer>
</html>