<!DOCTYPE html>
<html>
<head>
	<title></title>
 
</head>
<body>

    <div class="container">
    	<div class="row">
      		<div class="twelve column">The Green Kitchen</div>
            <p>Vegetarian recipes at your fingertips</p>
            <a href="/home/logout">LogOut</a>
            <div class="topnav" id="myTopnav">
              <a href="http://localhost:9292/recipes/breakfast">Breakfast</a>
              <a href="http://localhost:9292/recipes/dinner">Dinner</a>
              <a href="http://localhost:9292/recipes/sides">Sides</a>
              <a href="http://localhost:9292/recipes/dessert">Desserts</a>
            </div>
      </div>
    </div>

  
</body>

</html>