<!DOCTYPE html>
<html>
<head>
	<title></title>
 
</head>
<body>

    <div class="container">
    	<div class="row">
      		<div class="twelve column">The Greenery</div>
            <p>Vegetarian recipes at your fingertips</p>
            <div class="topnav" id="myTopnav">
              <a href="#breakfast">Breakfast</a>
              <a href="#dinner">Dinner</a>
              <a href="#sides">Sides</a>
              <a href="#desserts">Desserts</a>
            </div>
      </div>
    </div>
  <a href="/home/logout">LogOut</a>
  <footer>
  <p id="logo">Created by Katelyn Fenchel || General Assembly WDI </p>
</footer>
</body>

</html>