<!DOCTYPE html>
<html>
<style>
  
  body {
        background-image: url(" http://cdn.jamieoliver.com/recipe-database/xtra_med/3lOh74sT4j_BU_klbzh_v6.jpg");
      } 
</style>
<head>
	<title></title>
 
</head>
<body>

    <div class="container">
    	<div class="row">
      		<div class="twelve column">The Green Kitchen</div>
            <p>Vegetarian recipes at your fingertips</p>
            <div class="topnav" id="myTopnav">
              <a href="http://localhost:9292/recipes/breakfast">Breakfast</a>
              <a href="http://localhost:9292/recipes/dinner">Dinner</a>
              <a href="http://localhost:9292/recipes/sides">Sides</a>
              <a href="http://localhost:9292/recipes/dessert">Desserts</a>
               <a href="/home/logout">LogOut</a>
            </div>
      </div>
    </div>

  
</body>
<footer>
  <p id="logo">Created by Katelyn Fenchel || General Assembly WDI </p>
</footer>
</html>