<!DOCTYPE html>
<html>
<head>
	<title></title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/styles.css"/>
  		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

	

	
	<%= yield%>
</body>
<footer>
  <p id="logo">Created by Katelyn Fenchel || General Assembly WDI </p>
</footer>
<script src="/client/app.js"></script>
</html>