<!DOCTYPE html>
<html>
<head>
	<title>Dinner Recipes</title>
</head>
<body>

	<div class="container">

  <!-- columns should be the immediate child of a .row -->
	  <div class="row">
	    <div class="four columns" style="font-size:20px">Roasted Carrots with Honey </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2016/03/roasted-carrots-with-honey-butter-recipe.jpg">
	   		 
	   		 <p> Simple roasted carrots tossed in a light honey butter sauce makes an incredible side dish!</p>
			 <p> Ingredients </p>
		     <p> Instructions </p>
	    

	    <div class="four columns" style="font-size: 20px">Pesto Pasta Salad </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2016/10/pesto-pasta-salad.jpg"><br>
		     
		     <p> This pesto pasta salad recipe is bursting with fresh flavor. It's light, healthy and easy to make. Perfect for picnics and potlucks!</p>
			 <p> Ingredients </p>
			 <p> Instructions </p>	
	    

	    <div class="four columns" style="font-size: 20px">Roasted Cauliflower </div>
	    <img class ="resize" src="http://cookieandkate.com/images/2016/10/roasted-cauliflower-with-parmesan-parsley.jpg">
		    
		    <p> Learn how to roast cauliflower, super easy and oh so yummy!</p>
		    <p> Ingredients </p>
		    <p> Instructions </p>
	    
	  </div>
	</div>

</body>
</html>