html {
  height: 100%;
}
body {
  min-height: 100%;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Playfair Display', serif;
}
h1 {
  font-family: 'Playfair Display', serif;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-align: left;
  font-size: 45px;
  font-weight: inherit;
}
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-decoration: underline;
}
h4 {
  font-size: 20px;
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
}
p {
  font-size: 15px;
  font-family: 'Playfair Display', serif;
}
ul {
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
li {
  font-weight: inherit;
}
div.column.twelve {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}
.columns,
.four {
  font-family: 'Playfair Display', serif;
  border-bottom-color: slategrey;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.ingredients {
  text-decoration: none;
}
.topnav {
  background-color: none;
  overflow: hidden;
}
.topnav a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.resize {
  width: 100px;
  height: auto;
}
.ingredients {
  font-size: 15px;
}
.row {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
.row2 {
  text-align: center;
}
.four {
  border: 1px solid slategrey;
}
#logo {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 350px;
}
#insert {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}
