body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 45px;
}
h3 {
  font-size: 25px;
}
p {
  font-size: 10px;
}
.resize {
  width: 100px;
  height: auto;
}
.ingredients {
  font-size: 15px;
}
.row {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
.row2 {
  text-align: center;
}
