body {
  background: lightgrey;
  font-family: 'Open Sans', sans-serif;
}

.resize{
	width: 65px;
	height: auto;
	

}

p{
	  font-family: 'Open Sans', sans-serif;
	  font-size: 15px;
}

h1{
	font-family: 'Open Sans', sans-serif;
}

