@black: black;
@white: white;
@font: 'Playfair Display', serif;
@underline: underline;






html {
	height: 100%;
}


body {
	min-height: 100%;
	background: @white;
	// background-image: url('http://cdn.jamieoliver.com/recipe-database/xtra_med/3lOh74sT4j_BU_klbzh_v6.jpg');
	// font-family: 'Open Sans', sans-serif;
	// background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: @font;



}

h1{
	font-family: @font;
	text-align: left;
	font-size: 35px;
	font-weight: inherit;

}
	.nav.six.columns{
		margin-top: 61px;
	}

#bar{
	border-bottom-color: @black;
    border-bottom-style: solid;
   	border-bottom-width: 2px;
   	position: relative;	

}

h3{
	font-family: @font;
	font-size: 20px;
	text-decoration: @underline;
}

h4{
	font-size: 20px;
	text-decoration: @underline;
	font-family: @font;
	

}


p{
	font-size: 15px;
	font-family: @font;
	padding-right: 15px;
	padding-left: 15px;

}

ul{
	text-decoration: @font;
	font-weight: bold;
	text-decoration: @underline;
	padding-left: 0px;
}

li{
	font-weight: inherit;
	list-style: none;
}

div.column.twelve{
	border-bottom-color: @black;
    border-bottom-style: solid;
   	border-bottom-width: 1px;
	font-size: 50px;
	font-family: @font;
}
div.columns.four {
	font-family: @font;
	border-bottom-color: @black;
    border-bottom-style: solid;
   	border-bottom-width: 2px;

}

.ingredients{
	text-decoration: none;
	
}

.nav {
    background-color: none;
    overflow: hidden;
}

div#myNav.nav {
	margin-top: 73px;
    float: right;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: @font;
    font-weight: bold;
    
}
a{
	color: @black;
}

.topnav {
    //  background:rgba(255,255,255,.5);


}

.topnav a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-family: @font;
    background:rgba(255,255,255,.5);
    
}

.topnav a.active {
    background-color: #4CAF50;
    color: @white;
}


.resize{
	width: 135px;
	height:auto;
}

.ingredients{
	font-size: 15px;

}

.row{
	text-align: center;
	font-family: @font;
	font-size: 30px;
	margin-top: 18px;

	
}

.row2{
	text-align: center;
}

.four{
	 border: 1px solid @black;
}

.containers{
	border-bottom-color: @black;
    border-bottom-style: solid;
   	border-bottom-width: 2px;

}



a#logout{
	font-size: 15px;
	text-decoration: @underline;
}

div.logo{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-top: 100px;
	font-family: @font;
	background: rgba(255, 255, 255, 0.5);
}

#insert{
	font-family: @font;
	font-size: 15px;
}

